@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');


:root {
	--font_small: 0.9rem;
	--font_medium: 1.05rem;
	--font_large: clamp(1.39rem, 1.39rem + ((1vw - 0.2rem) * 0.767), 1.85rem);
	--font_x_large: clamp(1.85rem, 1.85rem + ((1vw - 0.2rem) * 1.083), 2.5rem);
	--font_xx_large: clamp(2.5rem, 2.5rem + ((1vw - 0.2rem) * 1.283), 3.27rem);

	--color_text_2: #555;
}

* {
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}
body {
	cursor: default;
	margin: 0px;
}
body>div {
	  display: grid;
	  justify-content: center;
	  align-items: center;
}
.limit_width {
	display: block;
	max-width: 800px;
}
.loc_and_contact .map > iframe {
	width: 800px;
}
.limit_txt_width {
	max-width: 650px;
	margin: 1em auto;
	text-align: center;
}

img {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 10px;
	width: 100%;
}

h1, h2, h3 {
	font-family: 'Cardo', serif;
	font-weight: 400;
}


h1 {
	font-size: var(--font_xx_large);
}
h2 {
	font-size: var(--font_x_large);
}
h3 {
	font-size: var(--font_large);
}

p, li {
	font-size: var(--font_medium);
	color: var(--color_text_2);
	line-height: 1.4;
}
.font_b {
	font-size: 110%;
	font-weight: bold;
}
.text_centre {
	text-align: center;
}

.shop_img {
	margin: 40px 0px;
}






.logo_t {
	margin-top: 2em;
	width: calc(var(--font_large)*5);
}
.logo_t img {
	box-shadow: none;
	user-select: none;
	pointer-events: none;
	border-radius: 3.5px;
}




.button_s1 {
	align-items: center;
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: .25rem;
	box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
	box-sizing: border-box;
	color: rgba(0, 0, 0, 0.85);
	cursor: pointer;
	display: inline-flex;
	font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	font-weight: 600;
	justify-content: center;
	line-height: 1.25;
	margin: 0;
	min-height: 3rem;
	padding: calc(.875rem - 1px) calc(1.5rem - 1px);
	position: relative;
	text-decoration: none;
	transition: all 250ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: baseline;
	width: auto;
}

.button_s1:hover,
.button_s1:focus {
	border-color: rgba(0, 0, 0, 0.15);
	box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
	color: rgba(0, 0, 0, 0.65);
}

.button_s1:hover {
	transform: translateY(-1px);
}

.button_s1:active {
	background-color: #F0F0F1;
	border-color: rgba(0, 0, 0, 0.15);
	box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
	color: rgba(0, 0, 0, 0.65);
	transform: translateY(0);
}












.services {
	display: none;
	background-color: #f9f9f9;
}
.services>div:nth-child(2) {
	display: flex;
}
.services>div>div>div {
	padding: 20px;
}

.services h2 {
	text-align: center;
}
.services h2:before {
	margin: 0 auto;
}
.services h2:before , .services p.font_b:before, .img_text_column h2:before {
	content: '';
	width: 1.5rem;
	height: 3rem;
	background: var(--wp--preset--color--contrast-2, currentColor);
	clip-path: path('M11.93.684v8.039l5.633-5.633 1.216 1.23-5.66 5.66h8.04v1.737H13.2l5.701 5.701-1.23 1.23-5.742-5.742V21h-1.737v-8.094l-5.77 5.77-1.23-1.217 5.743-5.742H.842V9.98h8.162l-5.701-5.7 1.23-1.231 5.66 5.66V.684h1.737Z');
	display: block;
}

.img_text_column_c {
	display: block;
	padding: 20px 0px;
}
.img_text_column {
	margin: 25px 0px;
	display: flex;
	gap: min(6.5rem, 8vw) min(10.5rem, 13vw);
}
.img_text_column div {
	flex-basis: 60%;
}
/*.img_text_column div:nth-child(2) {
	flex-basis: 50%;
}*/
.img_text_column h2 {
	margin-top: 0px;
	font-size: var(--font_large);
	color: var(--color_text_2);
}
.img_text_column ul {
	padding-left: 1rem;
	list-style-type: "\2713";
}
.img_text_column ul li {
	margin: 5px 0px;
	padding-inline-start: 1ch;
}


.div_contrast {
	background-color: #111111;
}
.div_contrast>div {
	margin: 100px 50px;
}
.div_contrast h2 {
	font-style: italic;
	color: #ebebeb;
}



.loc_and_contact a {
	text-decoration: none;
	display: block;
	width: fit-content;
}
.loc_and_contact .contact {
	margin: 30px 10px;
}
.loc_and_contact .contact p {
	margin: 2px;
}
.loc_and_contact .map > iframe {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 10px;
	height: 500px;
	margin-bottom: 20px;
}
.loc_and_contact .g_loc {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 10px;
	width: fit-content;
	padding: 9px 34px 5px 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.loc_and_contact .g_loc p {
	margin: 0px;
	font-size: 90%;
}


.links {
	display: flex;
}
.whatsapp-scan-c {
	padding: 8px;
	padding-right: 14px;

	height: 82px;
	margin-left: 12px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 10px;

	display: flex;
	align-items: center;
}
.whatsapp-scan-c img {
	margin: 7px;
	width: 60px;
	height: 60px;
	box-shadow: none;
}
.whatsapp-scan-c span {
	color: var(--color_text_2);
}





.h_info {
	height: 0px;
	overflow: hidden;
}





.f_c {
	margin-top: 50px;
	background-color: #ededed;
	padding-bottom: 50px;
}
.f_info {
	padding: 10px 20px;
}
.f_info p {
	font-size: 80%;
	margin: 0.5em 0px;
}
body > div:nth-child(7) > footer > div > div > p:nth-child(1) {
	font-size: var(--font_medium);
}
footer {
	margin-top: 50px;
}




@media screen and (max-width:900px) {
	body>div {
		padding-left: 1em;
		padding-right: 1em;
	}
	.limit_width {
		display: block;
		max-width: unset;
	}
	.loc_and_contact .map > iframe {
		width: 100%;
	}
	.loc_and_contact .map > iframe {
		height: 400px;
	}
}
@media screen and (max-width:700px) {
	.img_text_column_c {
		padding: 0px;
	}
	.img_text_column {
		gap: 1em;
		margin-bottom: 20px;
		flex-direction: column;
	}
	.reversed {
		flex-direction: column-reverse;
	}
}
@media screen and (max-width:600px) {
	.services>div:nth-child(2) {
		display: block;
	}
	.services>div>div>div {
		padding: 10px;
	}
	.services>div>div>div p {
		margin: 0.5em 0px;
	}
	.div_contrast>div {
		margin: 50px;
	}
}
@media screen and (max-width:550px) {
	.links {
		display: block;
	}
	.whatsapp-scan-c {
		margin: 0px;
		margin-top: 12px;
	}
}
















/* General styles for the list */
.social-links ul {
	list-style: none;
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0;
}

.social-links ul li {
	margin: 0 10px;
}

.social-links ul li a {
	text-decoration: none;
	font-size: 24px;
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	transition: background-color 0.3s, color 0.3s;
}

/* Facebook */
.social-links ul li a.facebook {
	background-color: #3b5998;
	color: #fff;
}
.social-links ul li a.facebook:hover {
	background-color: #2d4373;
}

/* Twitter */
.social-links ul li a.twitter {
	background-color: #1DA1F2;
	color: #fff;
}
.social-links ul li a.twitter:hover {
	background-color: #0d8bec;
}

/* Instagram */
.social-links ul li a.instagram {
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	color: #fff;
}
.social-links ul li a.instagram:hover {
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

/* LinkedIn */
.social-links ul li a.linkedin {
	background-color: #0077b5;
	color: #fff;
}
.social-links ul li a.linkedin:hover {
	background-color: #005582;
}

/* YouTube */
.social-links ul li a.youtube {
	background-color: #FF0000;
	color: #fff;
}
.social-links ul li a.youtube:hover {
	background-color: #cc0000;
}

/* WhatsApp */
.social-links ul li a.whatsapp {
	background-color: #25D366;
	color: #fff;
}
.social-links ul li a.whatsapp:hover {
	background-color: #1ebe56;
}

/* TikTok */
.social-links ul li a.tiktok {
	background-color: #000000;
	color: #fff;
	position: relative;
}

.social-links ul li a.tiktok:hover {
	background-color: #222;
}





















body > div:nth-child(8) > div.limit_width.loc_and_contact > div > div:nth-child(3) > div.links > a:nth-child(1) > div {
	padding: 9px 16px 5px 34px;
	margin-left: 12px;
}


